.Logo-container {
  display: flex;
  align-items: center
}

.Logo-container img {
  height: 50px;
}

.Logo-container h1 {
  font-size: 1rem;
}

.App {
  background-color: #f7fafc;
  padding-bottom: 4rem;
}
.App-header {
  background-color: #282c34;
  min-height:70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1em;
}

.App-header nav a {
  margin-left: 1em;
  color: #fff;
  text-decoration: none;
}
.App-header nav a:hover {
  color: #fff;
  text-decoration: underline;
}